.skll__container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:2rem;
    z-index: -1;
}
#skll{
    height: 90vh;
}
.AddSkill__form{
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    z-index: 1000;
    border-radius: 1rem ;
    padding: 3rem;
}
.button__handle  button{
    margin: 0.5rem;
}
.add__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}
.update__skill{
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    z-index: 1000;
    border-radius: 1rem ;
    padding: 3rem;
}

.update__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}